@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
        var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --font-roboto: "Roboto", ui-sans-serif, system-ui, sans-serif;
    --font-tiny5: "Tiny5", ui-sans-serif, system-ui, sans-serif;

    --colour-highlight: #f43e5c;
    --colour-border: #f43e5c;
    --colour-background: #02010a;
}

body {
    @apply bg-[#16161C] text-[#FDF0ED];
}

.font-roboto {
    font-family: var(--font-roboto);
}

.font-tiny5 {
    font-family: var(--font-tiny5);
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: auto;
    text-rendering: optimizeSpeed;
    image-rendering: pixelated;
}